{%extends "layout.html"%}
{%block content%}
  <h1>Add a new vehicle to the database</h1>
  <h2>{{ content }}</h2>
  <form action="/add_vehicle" method="POST">
    <label>Driver SSN (No dashes):</label><input required type="password" maxlength="9" size="9" value="" name="driver_ssn"/>
    <br/>
    <label>Make:</label><input required type="text" value="" name="make" />
    <br/>
    <label>License Plate (No Spaces):</label><input required type="text" maxlength="7" size="7" value="" name="license_plate" />
    <br/>
    <label>Model:</label><input required type="text" value="" name="model" />
    <br/>
    <input type="submit" value="Add Vehicle" />
  </form>
{%endblock%}