{%extends "layout.html"%}
{%block content%}
  <h1>Add a new business to the database</h1>
  <h2>{{ content }}</h2>
  <form action="/add_business" method="POST">
    <label>Name:</label><input required type="text" value="" name="name" />
    <br/>
    <label>Location:</label><input required type="text" value="" name="location" />
    <br/>
    <label>Delivery Fee:</label><input required type="text" value="2.95" name="delivery_fee" />
    <br/>
    <input type="submit" value="Add Business" />
  </form>
{%endblock%}