{%extends "layout.html"%}
{%block content%}
  <h1>Add a new customer to the database</h1>
  <h2>{{ content }}</h2>
  <form action="/add_customer" method="POST">
    <label>Customer Name:</label><input required type="text" value="" name="name" />
    <br/>
    <label>Phone Number:</label><input required type="text" size="13" maxlength="13" value="" name="phone_number" />
    <br/>
    <label>Email:</label><input required type="email" value="" name="email" />
    <br/>
    <label>Address:</label><input required type="text" value="" name="address" />
    <br/>
    <input type="submit" value="Add Customer" />
  </form>
{%endblock%}