{%extends "layout.html"%}
{%block content%}
  <h1>Add a new menu item to the database</h1>
  <h2>{{ content }}</h2>
  <form action="/add_menu_item" method="POST">
    <label>Menu ID:</label><input required type="text" maxlength="5" size="5" value="" name="menu_id" />
    <br/>
    <label>Name:</label><input required type="text" value="" name="name" />
    <br/>
    <label>Cost:</label><input required type="text" value="" name="cost" />
    <br/>
    <input type="submit" value="Add Menu Item" />
  </form>
{%endblock%}