<!DOCTYPE html>
<html>
<head>
  <title>MIS320 Group 5 Doordash</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
</head>
<body>
   <div class="header">
      <img src="{{url_for('static', filename='images/doordash.png')}}" class="wrap align-left" />
      <h1 class="logo">MIS320 Web App</h1>
      <strong><nav>
         <ul class="menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
             <div class="dropdown">
                  <button class="dropbtn">Add Data</button>
                  <div class="dropdown-content">
                    <a href="{{ url_for('add_driver') }}">Add Driver</a>
                     <a href="{{ url_for('add_vehicle') }}">Add Vehicle</a>
                      <a href="{{ url_for('add_customer') }}">Add Customer</a>
                       <a href="{{ url_for('add_payment_method') }}">Add Payment Method</a>
                      <a href="{{ url_for('add_payment') }}">Add Payment</a>
                      <a href="{{ url_for('add_order') }}">Add Order</a>
                      <a href="{{ url_for('add_driver_payment') }}">Add Driver Payment</a>
                      <a href="{{ url_for('add_business') }}">Add Business</a>
                      <a href="{{ url_for('add_menu') }}">Add Menu</a>
                      <a href="{{ url_for('add_menu_item') }}">Add Menu Item</a>
                      <a href="{{ url_for('add_ordered_item') }}">Add Ordered Item</a>
                  </div>
                </div>
          </ul>
      </nav></strong>
   </div>
   <div class="container">
     {%block content%}
     {%endblock%}
   </div>
   <div class="footer">
     <p>Iowa State University, College of Business,  MIS320</p>
   </div>
</body>
